# Dependencies
node_modules
bun.lockb

# Builds
dist
dist-ssr
output
.output

# Framework caches
.vite
.nitro
.tanstack
.wrangler
.vinxi

# Env files
.env*

# Logs
*.log
npm-debug.log*
bun-debug.log*

# OS
.DS_Store

# Editor
.vscode
.idea

# Cache
.cache

# Misc
*.local
__unconfig*
todos.json