# Dependencies
node_modules
bun.lockb

# Builds
dist
dist-ssr
output
.output

# Framework caches
.vite
.nitro
.tanstack
.wrangler
.vinxi

# Env files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
bun-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Cache
.cache

# Testing
playwright-report
test-results

# Coverage
coverage

# Drizzle
drizzle/meta

# Misc
*.local
__unconfig*